<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{app.css}" />
    <title>Countries of the World</title>
</head>
<body>
    <header>
        <div class="container">
            <h1><a href="/">Countries of the World</a></h1>
        </div>
    </header>
    <div class="container">
        <div th:each="country : ${countries}" class="country">
            <a th:href="@{'/countries/' + ${country.name}}">
                <img th:src="@{'/img/Flag_of_' + ${country.name} + '.png'}" alt="Flag of ${country.name}"/>
                <h4 th:text="${country.name}">Thailand</h4>
            </a>
        </div>
    </div>
</body>
</html>